

  <p><img src="<%=bookRequested.image %>"></p>
  <h1><%=bookRequested.title %></h1>
  <h2><%=bookRequested.author %></h2>
  <% if(showDescription){ %>
    <p><%=bookRequested.description %></p>
  <% } %>
  