<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <%- include('../layout/navbar.ejs') %>
<form id="book-search" action="/searches" method="POST">
  <fieldset>
    <legend>Search For Books</legend>
    <label for="search">Search</label>
    <input type="text" name="search" required>

    <label for="title">Title
    <input type="radio" name="search" value="title" required>
    </label>

    <label for="author">Author
    <input type="radio" name="search" value="author" required>
    </label>

    <input type="submit" value="Search">
  </fieldset>
</form>
<%- include('../layout/footer.ejs') %>
</body>
</html>