<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Errors</title>
  <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
  <h1>Errors Page</h1>
  <section>
  <h2><%=errorMessage %></h2>
  </section>
  
</body>
</html>