<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
  <h1>Best Books!</h1>
  <h2><%= rowCount %> Saved Books</h2>

  <% booksArray.forEach(book => { %>
    <section>
      <%- include('./books/detail.ejs', {bookRequested: book}) %>
      <button onclick="window.location.href = '/books/<%=book.id%>'">View Details</button>
  </section>
  <% }) %>

  
</body>
</html>
