<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
  <h1>Best Books!</h1>
  <h2><%= rowCount %> Saved Books</h2>

  <% booksArray.forEach(book => { %>
    <section>
    <p><img src="<%=book.image_url %>" width=64 height=64></p>
    <h1><%=book.title %></h1>
    <h2><%=book.author %></h2>
    <button type="button">View Details</button>
  </section>
  <% }) %>

  
</body>
</html>
