body {
  width: 100vw;
  /* display: flex;
  flex-wrap: wrap; */
}
h1 {
  text-align: center;
}
header h1 {
  text-align: left;
  margin: 20px;
}
h2 {
  text-align: center;
}

ul {
  list-style: none;
}

section {

  text-align: center;
  margin: 20px;
  padding: 50px;
}

form {
  margin: 20px;
  font-size: 16px;
}


#update {
  float: left;
  margin-left: 25%;
  margin-right: 0;
}

footer {
  margin: 20px;
}
