h1 {
  text-align: center;
}
header h1 {
  text-align: left;
}
h2 {
  text-align: center;
}

ul {
  list-style: none;
}

section {
  text-align: center;
  margin: 20px;
  padding: 50px;
}

form {
  border: black 2px solid;
  border-radius: 5px;
  margin: 20px;
  font-size: 16px;
}